body {
	font-family: Times New Roman, Arial, sans-serif;
	background-color: #ffffff;
	color: black;
}

div#logo {
    padding: 15px;
    margin: 20px auto 0px auto;
    text-align: center;
}
	
div#login {
	text-align: center;
}
	
legend {
	display: none;
}