<!--Prototype CSS-->

body{
    font-family: Tahoma, Arial, sans-serif;
    color: #EEFF41;
}

header {
    background-color: #4CAF50;
    color: #EEFF41;
}
div#login {
     background-clip: padding-box;
}   
div#login a:link, a:visited {
     text-decoration: none;
}
div#login fieldset {
    background-color: #0026ff;
}
legend {
    font-family: Georgia, Trebuchet MS, sans-serif;
    color: #ff6a00;
}
