body {
	font-family: 'Roboto', sans-serif;
	background-color: #56BC8A;
	color: black;
    margin: auto;
}

body#loginpage {
    animation: fadein 2s;
}

@keyframes fadein {
        from { opacity: 0;}
        to   { opacity: 1; }
}

div#about { 
   
    color: white;
    width: 50em;
    margin: auto;
}

/* Login Page */

div#logo {
    padding: 15px;
    
    text-align: center;
}

div#center {
    position: relative;
    margin: auto;
    width: 1440px;
        
}
div#background {
    position: absolute;
    z-index: -1; 
    left:  0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

div#tagline {
    text-align: center;
    font-style: italic;
    font-size: 2em;
    
}
	
div#login {
	text-align: center;
    border-style: none;
}

div#about h1 {
    text-align: center;
    color: white;
}

div#top {
    display:  flexbox;
    flex-flow: column;
    height: 100%;
}

/* Form Settings */

fieldset {
    border-style: none;
    margin-top: 1px;
    margin-bottom: 1px;
}
	
legend {
	display: none;
}

input[type=submit] {
    background-color: #55E4EF;
    border-radius: 2px;
	margin: 15px 0px 0px 15px;
    padding: 10px 15px; 
    border: none;
    color: rgba(0,0,0,0.45);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    cursor: pointer;
      
}
input[type=submit]:hover {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15), 0 17px 80px 0 rgba(0,0,0,0.12);
    background-color: #3A9CA3;
    color: white;
    transition-duration: 0.2s;
}

input[type=submit]:focus {
    outline-width: 0;
    background-color: white;
    color: black;
}

input[type=submit].add {
    width:  auto;
}

input[type=email] {
    border: 2px white;
    border-radius: 2px;
	margin: 15px 0px 0px 15px;
    padding: 10px 15px;
    font-size: 15px;
    width: 220px;   
}
input[type=email]:hover {
    transition-duration: 0.2s;
    box-shadow: inset 0 0 8px  rgba(0,0,0,0.1);
    
}

input[type=email]:focus {
    transition-duration: 0.2s;
    outline-width: 0;
}

input[type=password] {
    border: none;
    border-radius: 2px;
	margin: 15px 0px 0px 15px;
    padding: 10px 15px;
    font-size: 15px;
    width: 220px;    
}

input[type=password]:hover {
    transition-duration: 0.2s;
    box-shadow: inset 0 0 8px  rgba(0,0,0,0.1);
}

input[type=password]:focus {
    transition-duration: 0.2s;
    outline-width: 0;
}

input[type=text] {
    border: 2px white;
    border-radius: 2px;
	margin: 15px 0px 0px 15px;
    padding: 10px 15px 10px 10px;
    font-size: 15px;
    width: 220px;   
}
input[type=text]:hover {
    transition-duration: 0.2s;
    box-shadow: inset 0 0 8px  rgba(0,0,0,0.1);
    
}

input[type=text]:focus {
    transition-duration: 0.2s;
    outline-width: 0;
}

/* Account Header */

ul.accheader {
	
	list-style-type: none;
	margin: 0;
	padding: 0;
    position: fixed;
    top: 0;
	width: 100%;
	height: 52px;
	overflow: hidden;
	background-color: #56BC8A;	
}

ul.accheader li {
	display: inline;
	float: right;
	text-align: center;
}

ul.accheader li a {
	display: block;
	width: 152px;
	height: 52px;
	text-decoration: none;
	color: #F5F5F5;
	font-size: 120%;
}

ul.accheader li a:hover {
	background-color: #E8F5E9;
	color: #808080;
}

li.right a {
	padding: 15px 0 0 0;
}

li#hlogo {
	float: left;
}

/* List Header */

ul.listheader {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
    position: relative;
	width: max-width;
	height: 20px;
	overflow: hidden;
	background-color: #EEEEEE;
}

ul.listheader li {
	display: inline-block;
	text-align: center;
	margin: 0px 0px 0px 0px;
    padding: 0px 120px 0px 55px;
}

ul.listheader li a {
	text-decoration: none;
	color: #808080;
	font-size: 100%;
}

ul.listheader li a:hover {
    border-bottom-width: 2px;
    border-bottom-color: #808080;
    border-bottom-style: solid;
    font-weight:  bold;
}

/* accounthome.html */



/* General */


div.container {
    margin: 60px 0px 0px 0px;
	padding: 0px 10px 10px 10px;
	
}
div.container>.flex>.listheader {
	margin: 0 0 10px 0;
}
div.container h1{
	margin: auto;
	padding: 0 0 0 10px;
}
div.container>#listmain>.indent img{
	border: 1px ridge;
	border-radius: 2px;
}
div.container>#listmain>.indent img:hover{
	background-color: #E8F5E9;
}
/* Sign Up */

#signup {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

#password2{
	padding: 15px; 
}

body #signuppage {
	padding: 0 0 500px 0;
	background: url(https://lh4.ggpht.com/6wIc3YXnpPZDj1IX0poJo2F7ULEvj9urnE5RYtihS3tjDbNqDjP7KFih80pzpsBLZQ=h900) center top/cover no-repeat;
}

/* The element to apply the animation to */
/* #createaccount {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}

/* The animation code */

 /* List Main */
 /* addlist.html addevent.html*/

#listmain h1 {
	margin: 100px 10px 0px 100px;
	padding: 10px 10px 10px 10px;
} 
#listmain h2 {
	margin: 0px 0px 0px 80px;	
}
#listmain h3 {
	margin: 0px 0px 0px 80px;
}
#listmain ul{
	padding: 10px 10px 0 10px;
	margin: 0 0 10px 80px;
	list-style-type: none;
}
#listmain a:link {
	text-decoration: none;
}
#listmain a:visited {
	color: #000000;
}
#listmain a:hover{
	color: #808080;
}
#listmain li{
	display: block;
	margin: 5px 0 5px 0;
}

#listmain img {
	margin: 0px 0px 0px 0px;
	float: left;
	width: 20px;
	height: 20px;
}


/* Add List Item*/
/* additemlist.html */

#additem {
	margin: 20px 0px 0px 100px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: max-width;
	height: max-height;
}
#additem .flex {
	margin: 10px;
	padding: 10px 0px 10px 0px;
}
#additem>.flex  h3 {
	float: left;
}

#additem>.flex  img {
	border: thin solid;
	border-radius: 5px;
	padding: 30px;
}
#additem>.flex  a {
	display: block;
	border-radius: 5px;
	height: 100px;
	width: 100px;
	margin: 0 0 0 20px;
	text-decoration: none;
	color: #000000;
}
#additem>.flex  a:hover {
	background-color: #E8F5E9;
	color: #808080;
}
#additem>.flex  h5 {
	margin: 0px 0px 0px 20px;
	padding: 10px 0px 0px 0px;
}

#additem select {
	border: 2px ridge #CCCCCC;
	appearance: none;
	margin: 15px 0px 0px 60px;
	padding: 10px 10px 10px 10px;
}
/* accountsettings.html */
div.container #lists {
	margin: 20px 0px 0px 100px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: max-width;
	height: max-height;
}
div.container #lists select {
	border: 2px ridge #CCCCCC;
	appearance: none;
	margin: 15px 0px 0px 60px;
	padding: 10px 10px 10px 10px;
}
div.container>#lists>.flex {
	margin: 10px 10px 10px 0px;
	padding: 10px 0px 10px 0px;
}
div.container>#lists>.flex h3 {
	float: left;
}


/*  Changelog  */

#tablelog table {
	border-collapse: separate;
	width: 100%;
	empty-cells: hide;
	table-layout: auto;
}
div.container>.flex>#tablelog th, td {
	padding: 8px;
    text-align: center;
}

/*  Add Member  */
#tablemember {
	border-collapse: separate;
	width: 100%;
	empty-cells: hide;
	table-layout: auto;
}
#tablemember th, td {
	padding: 8px;
	float: left;
	margin: 0 0 0 100px;
    text-align: center;
}
div.container>.flex h3 {
	float: left;
	margin: 25px 0 0 50px;
}